<div mat-dialog-content>
  

    <mat-tab-group>
  
      <mat-tab class="mat-tab" label="LOG IN">          
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" value="" />
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" value="" />
          </mat-form-field>
          
          
          <button class="mat-button" mat-raised-button color="primary">LOG-IN</button>   
      </mat-tab>
  
  
      
      <mat-tab label="Registrarse"> 
           <mat-form-field class="example-full-width">
              <mat-label>Ingrese su mail</mat-label>
              <input matInput placeholder="Email" value="" />
            </mat-form-field>
  
    
            <mat-form-field class="example-full-width">
              <mat-label>Ingrese su contraseña</mat-label>
              <input matInput placeholder="Password" value="" />
            </mat-form-field>
    
            <button class="mat-button" mat-raised-button color="primary">Registrarse</button> 
      </mat-tab>
      
    </mat-tab-group>
  </div>
  