<div mat-dialog-content>
  

  <mat-tab-group>

    <mat-tab class="mat-tab" label="{{'common.button.login'| translate| uppercase}}">    
      <form [formGroup]="signInForm">      

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input formControlName="email" type="email" matInput placeholder="Email" value=""/>
          <mat-error *ngIf="signInForm.get('email')?.hasError('email') && !signInForm.get('email')?.hasError('required')">
            {{'user.register.email-error'| translate}}
          </mat-error>
          <mat-error *ngIf="signInForm.get('email')?.hasError('required')">
            {{'user.register.email-require'| translate}} 
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input  formControlName="password" type="password" matInput placeholder="Password" value="" />
          <mat-error *ngIf="signInForm.get('password')?.hasError('minlength') || signInForm.get('password')?.hasError('pattern') && !signInForm.get('password')?.hasError('required') ">
            {{'user.register.password-error'| translate}}
          </mat-error>
          <mat-error *ngIf="signInForm.get('password')?.hasError('required')">
            {{'user.register.password-require'| translate}}
          </mat-error>
        </mat-form-field>

        <button class="mat-button" mat-raised-button color="primary">{{'common.button.login'| translate| uppercase}}</button>   
      </form>
        
        
       
    </mat-tab>


    
    <mat-tab label="{{'common.button.register'| translate| uppercase}}"> 
      <form [formGroup]="signUpForm">      

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input formControlName="email" type="email" matInput placeholder="Email" value=""/>
          <mat-error *ngIf="signUpForm.get('email')?.hasError('email') && !signUpForm.get('email')?.hasError('required')">
            {{'user.register.email-error'| translate}}
          </mat-error>
          <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">
            {{'user.register.email-require'| translate}} 
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input  formControlName="password" type="password" matInput placeholder="Password" value="" />
          <mat-error *ngIf="signUpForm.get('password')?.hasError('minlength') || signUpForm.get('password')?.hasError('pattern') && !signUpForm.get('password')?.hasError('required') ">
            {{'user.register.password-error'| translate}}
          </mat-error>
          <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
            {{'user.register.password-require'| translate}}
          </mat-error>
        </mat-form-field>

        <button class="mat-button" mat-raised-button color="primary">{{'common.button.login'| translate| uppercase}}</button>   
      </form>
    </mat-tab>
    
  </mat-tab-group>
</div>
