.title{
    font-size: 3rem;
    font-weight: 500;
    color:black;
    margin-top: 0px;
    margin-bottom: 0px;
}

.line {
    width:400px;
    background-color: #ffb142;
    border:none;
    height: 3px;
    margin-top: 10px;
}

@media (max-width: 960px) {
    .title{
        font-size: 2.5rem;
    } 
    .line { 
        width: 340px;
    }   
}

@media (max-width: 600px) {
    .titleBox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title{
        font-size: 2rem;
    } 
    .line { 
        width: 100%;
        // margin: 0 auto;
    }   
}