.color1 {
    color: #33A8FF;
}

.color2 {
    color: #33E3FF;
}

.color3 {
    font-weight: bold;
    color      : #B833FF;
}

.color4 {
    color: #dddddd;
}

.color5 {
    color: greenyellow;
}

.noindent {
    margin-left: 0px;
}

.indent1 {
    margin-left: 20px;
}

.indent2 {
    margin-left: 40px;
}

.indent3 {
    margin-left: 60px;
}