@import '../../../../../styles/vars';

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    margin-top: 10px;
  }

  .mat-button {
    height: 50px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.343);
    color:white;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    
  }

  .mat-button:hover {
    background-color: $color-dark2;
}
