<div mat-dialog-content style="padding: 30px;">
  <h1>Guardar Búsqueda</h1>
  <hr>
  <br>
  <form [formGroup]="this.form" (ngSubmit)="onSubmit()">

    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input type="text" matInput placeholder="Name" formControlName="name" autocomplete="off"/>
      <mat-error *ngIf="this.form.get('name')?.hasError('required')">
        nombre obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Detail</mat-label>
      <input type="text" matInput placeholder="Detail" formControlName="detail" autocomplete="off"/>
      <mat-error *ngIf="this.form.get('detail')?.hasError('required')">
        detalle obligatorio
      </mat-error>
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button mat-dialog-close type="button" class="mat-button" mat-raised-button color="primary">Cancelar</button>
      <button mat-dialog-close type="submit" class="mat-button" mat-raised-button color="primary" [disabled]="this.form.invalid">Guardar</button>
    </mat-dialog-actions>
  </form>
</div>