
<mat-toolbar class="headerStyle">

    <!-- Title -->

        <h1 class="padding-x" [@aniTitle] = 'title' (click)="toggleTitle()">Business Assistant <span class="colorBCN">BCN</span></h1>  

    <!-- Title -->
    
    <span class="spacer"></span>
     
    <!-- Navigate-buttons -->

    <span>
        <button mat-button *ngFor="let button of buttons.navigate"> 
            <span *ngIf="button == 'Search'" class="padding-x"></span>
            <mat-icon *ngIf="button == 'Search'">search</mat-icon>
            {{button}}
        </button>
    </span>

    <!-- Navigate-buttons -->

</mat-toolbar>


