
.headerStyle {
    background-color: whitesmoke;
    color: black;
    height: 83px;
}

mat-menu{
    background-color: whitesmoke;
    color: blue;
}

.padding-x {
    padding-left: 40px;
    padding-right: 40px;
}

.spacer {
    flex: 1;
}



