
.headerStyle {
    background-color: black;
    color: white;
    height: 83px;
}

.menu-icon{
    font-size: 50px;
    color: white;
    margin-right: 25px;
}

.menu-button{
    height: 80px;
    width: 80px;
    margin-left: -16px;
}

.menu-mat{
    width: 200px;
}

.padding-l{
    padding-left: 20px;
}
.padding-x{
    padding-left: 20px;
    padding-right: 20px;
}

.spacer {
    flex: 1;
}



