html,
body {
    height: 100%;
}

body {
    margin             : 0;
    background-color   : #EFEFEF;
    font-family        : 'Open Sans', sans-serif;
    // font-family     : Roboto, "Helvetica Neue", sans-serif;
}