@use '@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$teal-palette);
$light-accent: mat.define-palette(mat.$grey-palette);
$light-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent
 )
));

@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
