@import "vars";

.text-container {
    width        : 100%;
    padding-right: 0;
}

.title-right {
    color: $main-color;
}

.title-left {
    color: #5CB85C;
}

.text-BCN{
    color: $main-color;
}