$main-color: #3B79BF;
$bg-dark-grey: #212529;
$nav-link: #808080;

$color-light1:#f4d996;
$color-light2:#69a69a;
$color-medium:#499082;
$color-dark1:#135058;
$color-dark2:#ffb142;
$color-gray:rgba(0, 0, 0, 0.645);
$color-graylight:#ece7de;/*hotstone*/
$color-black:black;
$color-white:white;