$main-color: #3B79BF;
$bg-dark-grey: #212529;
$nav-link: #808080;

$color-light0:#ffffff;
$color-light1:#f4d996;
$color-light2:#69a5a6;
$color-medium:#499090;
$color-dark1:#135058;
$color-dark2:#ffb142;
$color-dark3:#000000;
$color-gray:rgba(0, 0, 0, 0.55);
$color-graylight:#ededeb;/*hotstone*/
$color-black:black;
$color-white:white;