// VARIABLES
@import "../../../../../styles/vars";
// STYLES

div {
    margin: 16px;
}

.fc-white {
    color: white;
    font-family: "Montserrat", sans-serif !important;
}

.margin-list {
    margin-bottom: 3px;
    cursor       : pointer;
}

.list-height {
    padding         : 31px;
    background-color: $color-dark1;
    font-family     : 'Open Sans', sans-serif;
}

.list-height:hover {
    background-color: $color-dark2 !important;
    
    .fc-white{
        color: black;
    }
}

.list-height:focus {
    background-color: $color-medium !important;
}

.itemSelected:hover {
    text-decoration: underline;
}


// MATERIAL
.mat-expansion-panel-header {
    height: 0px;
}