<!-- MAT-ACCORDION -->
<mat-accordion *ngFor="let category of dataInput; let i=index">

    <!-- MAT-EXPANSION-PANEL -->
    <mat-expansion-panel hideToggle class="margin-list">

        <!-- MAT-EXPANSION-PANEL-HEADER -->
        <mat-expansion-panel-header class="list-height fs-5">
            <mat-panel-title class="fc-white">
                {{ category.title }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- END MAT-EXPANSION-PANEL-HEADER -->

        <!-- SUBCATEGORIES -->
        <div class="fw-bold fs-6" *ngFor="let subcat of category.subcategory; let e=index">

            <!-- SUBCATEGORY TITLE -->
            <div (click)="onClickItems(e)">
                {{ subcat.title }}
            </div>
            <!-- END SUBCATEGORIES TITLE -->

            <!-- SUBCATEGORY ITEMS -->
            <div *ngFor="let items of subcat.items" class="itemSelected fw-normal" (click)="onClickItemSaveData(items.item)">
                <div *ngIf="itemAccordion == e && isItemOpen">
                    {{ items.item }}
                </div>
            </div>
            <!-- END SUBCATEGORIES ITEMS -->

        </div>
        <!-- END SUBCATEGORIES -->

    </mat-expansion-panel>
    <!-- END MAT-EXPANSION-PANEL -->

</mat-accordion>
<!-- END MAT-ACCORDION -->