@import '../../../../../styles/global';


.results-container {
    background: white;
    padding: 2rem;
    min-height:470px;
}

.main-container {
  margin: 100px auto;
}

.buttons-container{
  width:100%;
  display:flex;
  justify-content: flex-end;
}

button {
  margin-right: 1rem;
}
  
  
  
  .details{
    padding-left: 12%;
  }
  
  .data{
    overflow-y: scroll;
    overflow-x: visible;
    max-height:300px;
  }
  
  button{
    font-size: 1rem;
  }
  
  @media (max-width:768px) {
    .ps-5{
        padding-left: 1.1rem !important;
    }
  }

  app-mapbox {
    max-width: 80%;
  }