.results-card{
    min-width: 55%;
  }
  
  
  .result-container{
    padding-left: 14%;
  }
  .details{
    padding-left: 12%;
  }

  .bg-light {
    background-color: white;
  }
  
  .data{
    overflow-y: scroll;
    overflow-x: visible;
    max-height:300px;
  }
  
  button{
    font-size: 1rem;
  }
  
  @media (max-width:768px) {
    .ps-5{
        padding-left: 1.1rem !important;
    }
  }