@import '../../../../../styles/vars';

.header{
    width: 100%;
    height: 100%;
    background: $color-dark1;  /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to right, $color-dark1, #f1f2b52d);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, $color-dark1, rgba(255,0,0,0)), url('../../../../../assets/img/header-light.jpg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: right;

    @media (max-width: 924px) {
        background-position: 90%;
    }

    @media (max-width: 640px) {
        background-position: 70%;
    }
    
}

.text-header{
    max-width: 70rem;
    text-align: left;
}

.header-1{
    font-size: 2rem;
    font-weight: 500;
    padding:0px 50px;
}

.header-2{
    font-size:4rem;
    font-weight: 600;
    line-height: 5rem;
    margin:5px;
    padding: 10px 50px;
}

.fc-white{
    max-width: 100rem;
}

.text-intro{
    text-align: left;
    margin: 60px 50px 50px 50px;
    font-size: 1.5rem;
    max-width: 80rem;
    font-weight: 400;
    line-height: 3rem;
}

.btn1 {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color:white;
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    background-color: rgba(0, 0, 0, 0.343);
    width: 20rem;
    font-family: 'Montserrat', sans-serif;
}

.btn1:hover {
    background-color: $color-dark2;
}

.button-header{
    margin: 3rem; 
}

