<!-- MAIN-CONTENT -->
<section class="main">
    <div class="main-container">
        
        <!-- babcn-TITLE -->
        <babcn-title titleInput='common.button.assistant'></babcn-title>
        <!-- END babcn-TITLE -->

        <!-- MAT GRID LIST -->
        <mat-grid-list [cols]="breakpoint" rowHeight="450px">

            <mat-grid-tile>

                <!-- babcn-CONTAINER -->
                <babcn-container containerHeight="395px" [containerWidth]='ratio.toString()'>

                    <!-- babcn-ACCORDION -->
                    <babcn-accordion [accordionDataInput]="dataSourceCategory"
                        (accordionDataOutput)="getDataFromAccordion($event)">
                    </babcn-accordion>
                    <!-- END babcn-ACCORDION -->

                </babcn-container>
                <!-- END babcn-CONTAINER -->

            </mat-grid-tile>

            <mat-grid-tile>

                <!-- babcn-BUTTONS-CONTAINER -->
                <babcn-buttons-container containerHeight="395px" 
                                         [containerWidth]='ratio.toString()' vaStyle="theme"
                    [mainButtonVisibility]="!user"                      
                    mainButtonText='common.button.save'
                    mainButtonColor="primary" [mainButtonFunction]="onClickSaveButton"

                    secondaryButtonText='common.button.see-summary' 
                    [secondaryButtonFunction]="onClickResumeButton">

                    <!-- babcn-LIST -->
                    <babcn-list [listDataInput]="dataShared"></babcn-list>
                    <!-- END babcn-LIST -->

                    <!-- babcn-TREE -->
                    <babcn-tree [treeDataInput]="newDataObj"></babcn-tree>
                    <!-- END babcn-TREE -->

                </babcn-buttons-container>
                <!-- END babcn-BUTTONS-CONTAINER -->

            </mat-grid-tile>

        </mat-grid-list>
        <!-- END MAT GRID LIST -->

    </div>
</section>
<!-- END MAIN-CONTENT -->