<!-- CASE 1 -->
<showcase-case-title [title]="case1.title" [innerHtmlSubtitle]="case1.subtitle"></showcase-case-title>
<mat-grid-list [cols]="breakpoint" [rowHeight]="ratio">
    <mat-grid-tile>
        <babcn-container [containerHeight]="'395px'">

            <!-- BABCN-LIST -->
            <babcn-list [listDataInput]="listData">
            </babcn-list>
            <!-- END BABCN-LIST -->

        </babcn-container>
    </mat-grid-tile>
    <mat-grid-tile>
        <showcase-code-copy-container [code]="case1"></showcase-code-copy-container>
    </mat-grid-tile>
</mat-grid-list>
<!-- END CASE 1 -->