<section>
    <div class="main-container">
        <!-- babcn-TITLE -->
        <babcn-title [titleInput]='title'></babcn-title>
        <!-- END babcn-TITLE -->

        

        <!-- MAT GRID LIST -->
      <!--  <mat-grid-list [cols]="breakpoint" rowHeight="550px">-->
            <mat-grid-list rowHeight="550px">

            <mat-grid-tile>
                <div class="container">
                    <section>
                        <h2 class="">{{'pages.big-stablish.section1.title'| translate}}
                        </h2>
                    </section>
                 <!-- babcn-CONTAINER -->
                <div class="search-container">
                    <babcn-container containerHeight="396px" 
                    [containerWidth]='ratio.toString()' 
                    [containerIsActive]="false"
                    >
                    
                        <div class="p-3 ms-8 border">
                            <!-- <div class="" *ngFor="let zone of zones">
                                <div class="form-check">
                                    <label class="form-check-label" >
                                        <mat-checkbox class="form-check-input"  (change)="checkZones(zone, $event.checked)">{{zone.zoneName}}</mat-checkbox>
                                    </label>
                                </div>
                            </div> -->
                        </div>
                        <section>
                            <div *ngIf="title==='common.button.market-fair' || title==='common.button.public-market'" class="search">
                                <button mat-raised-button style="background:black; color: white" (click)="goToResult()"
                                        routerLink="my-environment-search-detail"
                                        type="submit">
                                    {{'common.button.search' | translate}}
                                </button>
                            </div>
                        </section>
                    </babcn-container>
                </div>
                <!-- END babcn-CONTAINER -->

             
            </div>
            </mat-grid-tile>

            

            <mat-grid-tile>

                <div  *ngIf="title !=='common.button.market-fair' && title !=='common.button.public-market'" class="container">
                
                    <section>
                        <h2 class="">{{'pages.big-stablish.section2.title' | translate}}</h2>
                    </section>

               <!-- babcn-CONTAINER -->
                <div class="search-container">
                    <babcn-container containerHeight="350px" 
                    [containerWidth]='ratio.toString()' 
                    >
                            <div class="">
                                <div class="activity-checkboxes">
                                    <!-- <div *ngFor="let activity of activities; let i = index" >
                                        <div class="form-check">
                                            <label class="form-check-label" >
                                                <mat-checkbox class="form-check-input" (change)="checkActivities(activity,$event.checked)"> {{ activity.activityName }}</mat-checkbox>
                    
                                            </label>
                                        </div>
                                    </div> -->
                                </div>
                    
                            </div>
                    
                    </babcn-container>
                    <div class="search">
                        <button mat-raised-button style="background:black; color: white" (click)="goToResult()"
                                routerLink="my-environment-search-detail"
                                type="submit">
                                {{'common.button.search' | translate}}
                                </button>
                    </div>
                </div>
            <!-- END babcn-CONTAINER -->
                
             
                
            </div>
            </mat-grid-tile>

        </mat-grid-list>
        <!-- END MAT GRID LIST -->
       
    </div>
</section>
