
<div class="wrapp-options">

  <div class="wrapp-plx disp-flex">

    <div id="img-a" class="container-image">
      <div id="image1" class="image-background image-background1" #asImage1></div>
    </div> 

    <div class="wrapp-text">
      <h2 class="title1"> {{'common.button.assistant' | translate }}</h2>
      <hr align="left" class="line">
      <p class="text-left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae accusamus aut molestiae dignissimos ut suscipit.</p>
      <button 
      mat-fab extended 
        color="warn" 
        class="btn1" 
      (click)="onClickButtonVirtualAssistantButton()">{{'common.button.assistant' | translate |uppercase }}</button>
    </div>

  </div>



  <div class="wrapp-options">
    <div class="wrapp-plx disp-flex just-right ¡">

      <div class="wrapp-text align-right">
        <h2 class="title1">  {{'common.button.my-enviroment' | translate }}</h2>
        <hr align="right" class="line">
        <p class="text-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis beatae accusamus aut molestiae dignissimos ut suscipit.</p>
        <button 
        mat-fab extended 
        color="warn" 
        class="btn1"  
        (click)="onClickButtonMyEnvironment()"> {{'common.button.my-enviroment' | translate | uppercase}}</button>
      </div>

      <div id="img-a" class="container-image disp-flex just-right">
        <div id="image1" class="image-background image-background2" #asImage2></div>
      </div> 

    </div>
  </div>

</div>