// .main-container {
//     // margin        : 0 auto;
//     padding       : 50px 0px;
//     display       : flex;
//     flex-direction: column;
//     gap           : 70px;
// }

// .main-content {
//     width         : 70%;
//     margin        : 0 auto;
//     display       : flex;
//     flex-direction: row;
//     gap           : 50px;
// }

// .img-presentation {
//     width          : 100%;
//     background-size: cover;

//     @media (max-width: 800px) {
//         display: none;
//     }
// }

// .virtual-assistant {
//     background-image: url("../../../../../assets/img/piggybank-CBbxr3Jg-vert.jpg");
// }

// .my-enviroment {
//     background-image: url("../../../../../assets/img/architecture.jpg");
// }


.wrapp-options {
  padding:100px 0;
  margin: 5px 0;
}

.container-image{
  width: 50%;
}

@mixin image-background($bg:url(../../../../../assets/img/opc1.jpg)) {
  width: 90%;
  height: 50vh;
  background-size: cover;
  position: bottom;
}

.image-background{
  width: 90%;
  height: 50vh;
  background-size: cover;
  position: bottom;
}

.image-background1{
  background-image: url(../../../../../assets/img/opc1.jpg);
}

.image-background2{
  background-image: url(../../../../../assets/img/opc2.jpg);
}


.wrapp-text {
  padding:40px;
  max-width: 600px;
  width: 50%;
}

.opc-text {
  font-size: 3rem;
  font-weight: 500;
  color:rgba(0, 0, 0, 0.802);
}

.btn-opc {
  margin: 50px 0;
}

.align-right{
  text-align: right;
}

.marg{
  margin-left:50px;
}