
<section class="presentation">

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div class="img1">
            <img src="./img/piggybank-CBbxr3Jg-vert.jpg" alt="" width="100%">
          </div>
          <div>
              <h1>Assistent Virtual</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam iusto eaque cum non enim voluptate, vero praesentium tenetur esse libero quae ex ullam reiciendis, ad corrupti ratione illum facere? Mollitia.</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div>
            <h1>El meu entorn</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam iusto eaque cum non enim voluptate, vero praesentium tenetur esse libero quae ex ullam reiciendis, ad corrupti ratione illum facere? Mollitia.</p>
          </div>
          
          <div class="img2">
            <img src="./img/architecture.jpg" alt="">
          </div>
        </mat-grid-tile>
     
      </mat-grid-list>



    
</section>