@import '../../../../../styles/vars';

.wrapp-options {
  padding:100px 0;
  margin: 5px 0;
}


.btn1 {
  padding: 25px;
  border-radius: 5px;
  color:white;
  margin: 50px 0;
  width: 15rem;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

.btn1:hover {
  background-color: $color-graylight;
  color: black;
  border-style: solid;
  border-width: 1px;
}

.container-image{
  width: 50%;
}

@mixin image-background($bg:url(../../../../../assets/img/opc1.jpg)) {
  width: 90%;
  height: 50vh;
  background-size: cover;
  position: bottom;
}

.image-background{
  width: 90%;
  height: 50vh;
  background-size: cover;
  position: bottom;
}

.image-background1{
  background-image: url(../../../../../assets/img/opc1.jpg);
}

.image-background2{
  background-image: url(../../../../../assets/img/opc2.jpg);
}


.wrapp-text {
  padding:40px;
  max-width: 600px;
  width: 50%;
}

.align-right{
  text-align: right;
}

.marg{
  margin-left:50px;
}

// media queries for movile design images display none, text-align center

@media (max-width: 768px) {
  .wrapp-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .wrapp-text {
    width: 100%;
    padding: 0px 10px;
    text-align: center;
  }

  .container-image{
    display: none;
  }

  .btn1
  {
    margin-bottom: 15px;
  }

  p{
    text-align: center;
  } 
}