@import '@angular/material/theming';
@include mat-core();


$my-app-primary: mat-palette($mat-teal, 600);
$my-app-accent:  mat-palette($mat-amber, 600);
$my-app-warn:    mat-palette($mat-gray, 900);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
