<section class="main">
    <div class="assistant-header">
        <h2 class="title">{{'common.button.assistant' | translate }}</h2>
        <hr align="left" class="line">

        <mat-grid-list [cols]="breakpoint" [rowHeight]="ratio">
     
            <mat-grid-tile>
                <div class="panel">
                    <h1>PANEL 1</h1>
                </div>
            </mat-grid-tile>
        
            <mat-grid-tile>
                <div class="panel">
                    <h1>PANEL 2</h1>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</section>

<virtual-assistant-page-main-content></virtual-assistant-page-main-content>
