<section class="main">

    <div class="assistant-header">
        <h2 class="title">{{'common.button.assistant' | translate }}</h2>
        <hr align="left" class="line">


        <mat-grid-list cols="2" rowHeight="2:1">
            <!-- [cols]="break" [rowHeight]="ratio" -->
            
            
            <mat-grid-tile>
                <h1>PANEL 1</h1>
                <!-- <babcn-container
                    containerWidth='60vh'
                    containerHeight='250px'
                    containerInnerPadding='45px'
                    containerBackgroundColor='white'
                    class="card-center"> -->
                </mat-grid-tile>
                <mat-grid-tile>
                    <h1>PANEL 2</h1>
                </mat-grid-tile>
            </mat-grid-list>
    </div>
</section>
