<section class="main">
    <div class="assistant-header">
        <h2 class="title">{{'common.button.assistant' | translate }}</h2>
        <hr align="left" class="line">

        <mat-grid-list [cols]="breakpoint" 
                              [rowHeight]="ratio"
                              gutterSize="30px">
            <mat-grid-tile>
                <div class="panel accordion shadow">
                    <h1>bacn-accordion</h1>              
                    <!-- <babcn-accordion
                    [accordionDataInput]="myDataSource"
                    (accordionDataOutput)="myGetDataFromAccordion($event)">
                    </babcn-accordion> -->
                </div>
            </mat-grid-tile>
        
            <mat-grid-tile>
                <div class="panel result shadow">    
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, commodi eum. Dignissimos laboriosam pariatur nulla, porro quis aperiam error rerum nam odio at! Fugit et id reiciendis adipisci itaque aspernatur. ipsum dolor sit amet consectetur adipisicing elit. Fuga, commodi eum. Dignissimos laboriosam pariatur nulla, porro quis aperiam error rerum nam odio at! Fugit et id reiciendis adipisci itaque aspernatur.</p>
                    
                    <div class="btn-result">
                        <a href="#" class="btn">Ver Resumen</a>
                        <a href="#" class="btn">Guardar</a>
                    </div>
                </div>
        </mat-grid-tile>
        
    </mat-grid-list>
    </div>
</section>

<virtual-assistant-page-main-content></virtual-assistant-page-main-content>
