@import '../../../../../styles/global';


.main{
    background: #eae9e6;
    background: -webkit-linear-gradient(to right, #eae9e6,#f4e5c1) ;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eae9e6, #f4e5c1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom:150px;
}

.assistant-header{
    margin-left:auto;
    margin-right: auto;
    padding:50px;
    max-width: 1600px;
}

.title{
    font-size: 3rem;
    font-weight: 500;
    color:black;
}

.line {
    width:300px;
    background-color: #ffb142;
    border:none;
    height: 2px;
}


